.underline-small::after {
  content: "";
  height: 3.5px;
  width: 60%;
  background: #d51243;
  position: absolute;
  left: 0px;
  bottom: -5px;
  border-radius: 6px;
}
.underline-small-right::after {
  content: "";
  height: 3.5px;
  width: 60%;
  background: #d51243;
  position: absolute;
  right: 0px;
  bottom: -5px;
  border-radius: 6px;
}
